* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    text-align: center;
    background-color: #2e7860;
}

body {
    background-color: #225b49;
    color: #e48dc3;

}

p {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax (auto-fill, 1fr));
    gap: 1.44rem;
    justify-items: center;
    position:relative;
    margin: 0 auto;
}

.gallery2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax (auto-fill, 1fr));
    gap: 1rem;
    justify-items: center;
    position: relative;
    margin: 0 auto;
}


figcaption{
    text-align: center;
font-size: 20px;
padding-bottom: 15px;
}


@media screen and (min-width: 100px){
    .gallery2{
        grid-template-columns: 1fr 1fr 1fr;
    }
}



.silly {
    text-align: center;
    margin-top: 30px;
}

img{
    max-width: 100%;
}

