*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #395b50;
    color: 	#c5d1eb;
    
}
h1{
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax (auto-fill, 1fr));
    gap: 1.44rem;
    justify-items: center;
    position:relative;
    margin: 0 auto;
}

@media screen and (min-width: 400px){
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
main article img {
    width: 100%;
    height: auto;
}
